# Default number of objects per pages
PER_PAGE = 9
# Django secret Key
SECRET_KEY = 'CHANGE-ME'
# 0 = False | 1 = True
DEBUG = 1

# CÓDIGO PARA GERAR SECRET_KEY
# python -c
# "import string as s;from random import SystemRandom as
# sr;print(''.join(sr().choices(s.ascii_letters +
# s.punctuation, k=64)))"